@page "/Костур"
@using DiplomenP.Interfaces;
@using DiplomenP.Models;
@inject NavigationManager NavigationManager

<PageTitle>Костур</PageTitle>

<style>

     .container-custom {
         padding-inline: 15rem;
         padding-block: 2.5rem;
     }

     .heading {
         color: rgb(12, 202, 21);
         font-size: 3rem;
         opacity: 0.7;
         transition: all 0.5s ease-in-out;
         cursor: default;
     }

         .heading:hover {
             opacity: 1;
         }

     .text-container {
         margin-top: -0.5rem;
     }

</style>

<style type="text/css" media="screen and (max-width:992px)">
    .container-custom {
        padding-inline: 0;
    }
</style>

<div class="d-flex flex-column align-items-center justify-content-center container-custom mb-1">
    <img class="w-100 rounded-2" src="https://fishingthespot.uk/images/photo_article/big_20190927120724_BN.jpeg" alt="Костур.img" />

    <div class="d-flex justify-content-start w-100">
        <h1 class="align-items-start heading mb-0">Костур</h1>
    </div>

    <div class="text-container d-flex flex-column rounded-2 py-1 px-4">
        <h3 class="border-bottom mb-0 border-secondary mt-3">Костурът</h3>
        <p class="col-8 my-1 w-100 fs-5">
            Типичен хищник, дал името си и на семейство си костурови, добре представено и в нашите води. Стадна риба, водеща типично дневен начин на живот. 
            Риба с отлична приспособимост към всякакви дълбочини и води. Костурът днес може са се открие дори в реки с бързо течение, с изключение на пъстървовите 
            зони. В същото време той вече се е настанил и в покритите с водорасли типично лински блата. На дължина е в състояние да достигне до 50-60 см, а на тегло 
            до 5 килограма. На гърба си костурът има две последователни гръбни перки с бодливи лъчи, служещи за защита от едрите хищни обитатели на водоема. За защита 
            има шипове на хрилните капаци и страничните перки. Първият лъч от първата гръбна перка е с остър и гол шип, който е изключително остър и е най-видим за 
            разлика от другите, които са по-дребни и затъпени. Всичко обаче зависи от условията на обитаване. При костура има и типично израждане на популацията 
            поради пренаселване на даден водоем и липса на регулиращи развитието му врагове. Понякога той се размножава взривно и в следващите няколко години 
            потиска останалите обитатели на водоема.
        </p>

        <h3 class="border-bottom mb-0 border-secondary mt-3">Хранене</h3>

        <p class="col-8 w-100 fs-5 my-1">
            Поведението на костура е лесно предвидимо. Той се храни само по светло. Сутрин на ята тръгва към плитчините, за дребни рибки. Нощта прекарва в дълбокото. 
            Придвижването обикновено е на стада, съставени от близки по размер риби. Ако се срещнат два пасажа с голяма разлика в размера се получава канибализъм. 
            По-едрите парчета се движат по-предпазливо и се държат винаги на границата с дълбочина, което им вдъхва сигурност.
            Само най-огромните костури живеят самотно в най-дълбоките ями, край камари от камъни и скали. Женските екземпляри са отчетливо по-едри от самците в пасажа.
        </p>

        <h3 class="border-bottom mb-0 border-secondary mt-3">Размножаване</h3>

        <p class="col-8 w-100 fs-5 my-1">
            Костурът хвърля хайвера си през март-април, в зависимост от метеорологичните условия или климатичната зона. Излиза да хвърля хайвера си при изгрев слънце. 
            През този период костурът променя цвета си на по-ярък. Хвърлянето на хайвера може да продължи от 3 дни или повече.
            Ако се вгледате внимателно от брега, можете да видите как костурът се трие срещу камъни или изсъхнали стъбла на водната растителност. Този процес може да 
            се наблюдава при изгрев слънце и до обяд този процес започва да изчезва. Понякога хвърлянето на хайвера може да се възобнови с настъпването на вечерта, а 
            понякога рибите отиват да си починат до следващата сутрин.
            По-големите костури не се хвърлят на хайвера си в стада. Предпочита да се придържа към по-дълбоки места. Той също така снася яйца на дълбочина, поради 
            което едва ли е възможно да се наблюдава размножаването на големи костури. По правило големият костур избира определени места за хвърляне на хайвера. Тъй 
            като хвърлянето на хайвера се случва на дълбочина, този процес се случва малко по-късно от хвърлянето на хайвера на малки костури.
        </p>

        <h3 class="border-bottom mb-0 border-secondary mt-3">Интересни факти</h3>

        <p class="col-8 w-100 fs-5 my-1">
            Официалният рекорд – 2,9 кг – е поставен през 2010 година на Оландските острови, Финландия.
            Освен денонощните миграции костурът предприема и сезонни пътувания. Есента при първите по-сериозни захлаждания костурите минават в по-дълбоки и топли води. 
            Зимата прекарват в активно състояние и често именно те са най-многобройните риби при подледния риболов. Напролет преселението отново изкарва ятата костури към 
            плитчините, където са и дребните рибки.
        </p>

        <h3 class="border-bottom mb-0 border-secondary mt-3">Риболов</h3>

        <p class="col-8 w-100 fs-5 my-1">
            При изявения хищник захранката направо е глезотия. Но ако тя се употребява в пестеливи количества при зимен излет на лед, значи действа професионалист. 
            Захранката от щипка кълцани червеи или червенки също подобрява кълването на вече откритото ято и го задържа под дупката. Класическата стръв за добър костур 
            без оглед на сезона са дребните рибета. И макар че с огромната си паст костурът е в състояние да налапа риба, наполовина колкото него, най-добри си остават 
            рибките до 5 сантиметра на дължина. Ако все пак искаме да сме перфектно подготвени, рибетата с удължен силует са по-подходящи. Най-добре е обаче да не правим 
            много експерименти, а да се стремим да намерим от тези дребосъци, с които той се храни във водоема си. В случай, че не е възможно да се осигури жива стръв, 
            може да опитаме е на мъртви рибки или дори на парчета от тях. Резултатите са по-слаби, но дори опашки от цаца често се приемат с охота. Торните, белите и 
            земните червеи също вършат работа. Лови се предимно на дъно и плувка. С успех се прилага и спининг риболова. Налита добре на блесни понякога и на воблери. 
            На блесна не бива да се бърза. Тя трябва да се води в дълбокото, дори с известни паузи и ускоряване след това. Самата риба плува по подобен начин. На 
            туистер се правят също паузи и се помпа, докато хищникът се раздразни и атакува. Може се лови дори на изкуствена муха с шнур.
        </p>

    </div>

    <h3 class="w-100 align-items-start mt-3">
        Комплект, който би бил подходящ за този вид риболов:
    </h3>

</div>

<div class="container mydiv">
    <div class="row d-flex">

        @foreach (var product in products)
        {

                        <div class="col-md-6 col-lg-4 col-xl-3">

                            <!-- bbb_deals -->

                            <div class="bbb_deals">
                                <div class="bbb_deals_slider_container">
                                    <div class=" bbb_deals_item">
                                        <div class="bbb_deals_image"><img src="@product.Image" alt="product.img"></div>
                                        <div class="bbb_deals_content">
                                            <div class="bbb_deals_info_line d-flex flex-row justify-content-between">
                                                <div class="bbb_deals_item_category text-secondary">@product.Type</div>
                                                <div class="bbb_deals_item_category text-secondary">@product.Brand</div>
                                            </div>
                                            <div class="bbb_deals_info_line">
                                                <div class="bbb_deals_item_name">@product.ProductName</div>
                                            </div>
                                            <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                                <div class="bbb_deals_item_price ml-auto">@product.Price.ToString("0.00") лв.</div>
                                            </div>
                                            <div class="available">
                                                <div class="available_line d-flex flex-row justify-content-start">
                                                    <div class="available_title">Налични: <span>@product.ProductCount</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

        }

    </div>
</div>

<div class="d-flex flex-column align-items-center justify-content-center container-custom mb-1">
    <button class="btn btn-outline-dark flex-shrink-0" type="button" @onclick="AddComToCart">
        <i class="bi-cart-fill me-1"></i>
        Добави комплект
    </button>
</div>

@code {

    [Inject]
    private IProductService ProductService { get; set; }

    [Inject]
    private ICartService CartService { get; set; }

    [Inject]
    private IUserService UserService { get; set; }

    private List<Product> products = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        products = ProductService.GetProducts().Where(product => product.ProductName == "Shimano Beastmaster FX Predator Въдица" || product.ProductName == "Shimano Sedona 2500S FI" ||
            product.ProductName == "Linesystem KAWAHAGI PE X8" || product.ProductName == "Джиг глави JAXON SUMATO BLACK" ||
            product.ProductName == "Комплект Силиконови Примамки MIKADO SPEEDO 4.5 СМ" || product.ProductName == "Owner HOOKED SNAP SWIVEL").ToList();
    }

    private async void AddComToCart()
    {
        foreach (var product in products)
        {
            await CartService.AddToCart(product.ProductId, 1, UserService.GetLoggedUserId());
        }
        this.StateHasChanged();
    }

}