@using DiplomenP.Data
@using DiplomenP.Interfaces;
@using DiplomenP.Models;
@page "/fishing_rods"
@inject NavigationManager NavigationManager

<PageTitle>Въдици</PageTitle>

@code {

    [Inject]
    private IProductService ProductService { get; set; }

    private List<Product> products = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        products = ProductService.GetProducts();
    }

    private void ViewProductDetails(Product product)
    {
        string id = (product.ProductId).ToString();
        NavigationManager.NavigateTo($"/product_page/{id}");
    }

}

<h2>Шарански въдици</h2>

<div class="container mydiv">
    <div class="row d-flex">

        @foreach (var product in products)
            {

            if(product.Type == "Carp_rod")
            {
                <div class="col-md-6 col-lg-4 col-xl-3">

                    <!-- bbb_deals -->

                    <div class="bbb_deals" @onclick="() => ViewProductDetails(product)">
                        <div class="bbb_deals_slider_container">
                            <div class=" bbb_deals_item">
                                <div class="bbb_deals_image"><img src="@product.Image" alt="product.img"></div>
                                <div class="bbb_deals_content">
                                    <div class="bbb_deals_info_line d-flex flex-row justify-content-between">
                                        <div class="bbb_deals_item_category text-secondary">@product.Type</div>
                                        <div class="bbb_deals_item_category text-secondary">@product.Brand</div>
                                    </div>
                                    <div class="bbb_deals_info_line">
                                        <div class="bbb_deals_item_name">@product.ProductName</div>
                                    </div>
                                    <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                        <div class="bbb_deals_item_price ml-auto">@product.Price.ToString("0.00") лв.</div>
                                    </div>
                                    <div class="available">
                                        <div class="available_line d-flex flex-row justify-content-start">
                                            <div class="available_title">Налични: <span>@product.ProductCount</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }
        
        }

    </div>
</div>


<h2>Тролинг въдици</h2>

<div class="container mydiv">
    <div class="row d-flex">

        @foreach (var product in products)
        {

            if(product.Type == "Trolling_rod")
            {
                <div class="col-md-6 col-lg-4 col-xl-3">

                    <!-- bbb_deals -->

                    <div class="bbb_deals" @onclick="() => ViewProductDetails(product)">
                        <div class="bbb_deals_slider_container">
                            <div class=" bbb_deals_item">
                                <div class="bbb_deals_image"><img src="@product.Image" alt="product.img"></div>
                                <div class="bbb_deals_content">
                                    <div class="bbb_deals_info_line d-flex flex-row justify-content-between">
                                        <div class="bbb_deals_item_category text-secondary">@product.Type</div>
                                        <div class="bbb_deals_item_category text-secondary">@product.Brand</div>
                                    </div>
                                    <div class="bbb_deals_info_line">
                                        <div class="bbb_deals_item_name">@product.ProductName</div>
                                    </div>
                                    <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                        <div class="bbb_deals_item_price ml-auto">@product.Price.ToString("0.00") лв.</div>
                                    </div>
                                    <div class="available">
                                        <div class="available_line d-flex flex-row justify-content-start">
                                            <div class="available_title">Налични: <span>@product.ProductCount</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }

        }

    </div>
</div>

<h2>Спининг въдици</h2>

<div class="container mydiv">
    <div class="row d-flex">

        @foreach (var product in products)
        {

            if (product.Type == "Spinning_rod")
            {
                <div class="col-md-6 col-lg-4 col-xl-3">

                    <!-- bbb_deals -->

                    <div class="bbb_deals" @onclick="() => ViewProductDetails(product)">
                        <div class="bbb_deals_slider_container">
                            <div class=" bbb_deals_item">
                                <div class="bbb_deals_image"><img src="@product.Image" alt="product.img"></div>
                                <div class="bbb_deals_content">
                                    <div class="bbb_deals_info_line d-flex flex-row justify-content-between">
                                        <div class="bbb_deals_item_category text-secondary">@product.Type</div>
                                        <div class="bbb_deals_item_category text-secondary">@product.Brand</div>
                                    </div>
                                    <div class="bbb_deals_info_line">
                                        <div class="bbb_deals_item_name">@product.ProductName</div>
                                    </div>
                                    <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                        <div class="bbb_deals_item_price ml-auto">@product.Price.ToString("0.00") лв.</div>
                                    </div>
                                    <div class="available">
                                        <div class="available_line d-flex flex-row justify-content-start">
                                            <div class="available_title">Налични: <span>@product.ProductCount</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }

        }

    </div>
</div>

<h2>Мухарски въдици</h2>

<div class="container mydiv">
    <div class="row d-flex">

        @foreach (var product in products)
        {

            if (product.Type == "Fly_rod")
            {
                <div class="col-md-6 col-lg-4 col-xl-3">

                    <!-- bbb_deals -->

                    <div class="bbb_deals" @onclick="() => ViewProductDetails(product)">
                        <div class="bbb_deals_slider_container">
                            <div class=" bbb_deals_item">
                                <div class="bbb_deals_image"><img src="@product.Image" alt="product.img"></div>
                                <div class="bbb_deals_content">
                                    <div class="bbb_deals_info_line d-flex flex-row justify-content-between">
                                        <div class="bbb_deals_item_category text-secondary">@product.Type</div>
                                        <div class="bbb_deals_item_category text-secondary">@product.Brand</div>
                                    </div>
                                    <div class="bbb_deals_info_line">
                                        <div class="bbb_deals_item_name">@product.ProductName</div>
                                    </div>
                                    <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                        <div class="bbb_deals_item_price ml-auto">@product.Price.ToString("0.00") лв.</div>
                                    </div>
                                    <div class="available">
                                        <div class="available_line d-flex flex-row justify-content-start">
                                            <div class="available_title">Налични: <span>@product.ProductCount</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }

        }

    </div>
</div>
