@page "/Червеноперка"
@using DiplomenP.Interfaces;
@using DiplomenP.Models;

<PageTitle>Червеноперка</PageTitle>

<style>

    .container-custom {
        padding-inline: 15rem;
        padding-block: 2.5rem;
    }

    .heading {
        color: rgb(12, 202, 21);
        font-size: 3rem;
        opacity: 0.7;
        transition: all 0.5s ease-in-out;
        cursor: default;
    }

        .heading:hover {
            opacity: 1;
        }

    .text-container {
        margin-top: -0.5rem;
    }

</style>

<style type="text/css" media="screen and (max-width:992px)">
    .container-custom {
        padding-inline: 0;
    }
</style>

<div class="d-flex flex-column align-items-center justify-content-center container-custom mb-1">
    <img class="w-100 rounded-2" src="https://media.istockphoto.com/id/520766654/photo/common-rudd.jpg?s=612x612&w=0&k=20&c=0AF84lNOp52gJDATlVBVL9tCYFJvX3wddhXDHz68r68=" alt="Червеноперка.img" />

    <div class="d-flex justify-content-start w-100">
        <h1 class="align-items-start heading mb-0">Червеноперка</h1>
    </div>

    <div class="text-container d-flex flex-column rounded-2 py-1 px-4">
        <h3 class="border-bottom mb-0 border-secondary mt-3">Червеноперката</h3>
        <p class="col-8 my-1 w-100 fs-5">
            Червеноперката е от семейство шаранови. Има характерни оранжево червеникави перки, от където идва и името и. Тялото е странично сплескано. 
            Люспите са жълтеникави. Гръбната перка е разположена далече от главата. Устата е сплескана и сочи нагоре поради навика си да всмуква насекоми 
            и друга храна от повърхността. Средната нормална дължина, до която достига е около 15-20 см. Екземплярите, които достигат максимална дължина са 
            от порядъка на 35-36 см. Рядко може да достигне тегло от 2 кг. Една от най-разпространените риби у нас. Може да се срещне в почти всички водоеми. 
            Расте изключително бавно. Продължителността на живота и е около 25 години.
        </p>

        <h3 class="border-bottom mb-0 border-secondary mt-3">Хранене</h3>

        <p class="col-8 w-100 fs-5 my-1">
            Малките червеноперки се хранят предимно с личинките на насекоми, ракообразни или водорасли. Възрастната риба предпочита скариди, ракообразни, 
            червеи или хайвера на други риби. Храни се целогодишно.
        </p>

        <h3 class="border-bottom mb-0 border-secondary mt-3">Размножаване</h3>

        <p class="col-8 w-100 fs-5 my-1">
            Полово зряла е едва през третата си година. Обикновено червеноперката не извършва големи миграции по време на нереста и мята хайвера си близо до 
            мястото, което постоянно обитава.Нерестът се извършва около бреговете, в плитките заливи, в устията на реките. Хайвера си червеноперката мята върху 
            остатъци от миналогодишна растителност – хвощ, камъш и пр. В реките понякога мята хайвера си на каменисти дъна и на достатъчно силно течение. 
            Преди нереста червеноперката се оцветява по-празнично: плавниците й стават по-ярки, на люспите на самците се образуват издатинки. Мятането на 
            хайвера е стадно и едновременно. Нерестът в езерата се извършва бурно, мятането на хайвера обикновено е сутрин.
        </p>

        <h3 class="border-bottom mb-0 border-secondary mt-3">Интересни факти</h3>

        <p class="col-8 w-100 fs-5 my-1">
            Месото на червеноперката има натрапчиво тревен вкус. По скоро има лоши вкусови качества. Може да се накисне в прясно мляко. Става само за пържене.
        </p>

        <h3 class="border-bottom mb-0 border-secondary mt-3">Риболов</h3>

        <p class="col-8 w-100 fs-5 my-1">
            През лятото червеноперките образуват стада и в повечето водоеми се придържат към растителността по бреговете. С настъпването на есента и 
            захлаждането на водата, се отдалечава от бреговете и се придвижват към по дълбоките и умерени участъци. През този сезон обикновено червеноперките 
            се събират на големи стада и обитават предимно дъното. Най-често използвания метод за лов на червеноперка е на плувка, с малка плувка тънко влакно и 
            малки кукички. Лови се също и на дъно. За стръв се използва хляб, варено жито, бели и торни червеи.
        </p>

    </div>

    <h3 class="w-100 align-items-start mt-3">
        Комплект, който би бил подходящ за този вид риболов:
    </h3>

</div>

<div class="container mydiv">
    <div class="row d-flex">

        @foreach (var product in products)
        {


                <div class="col-md-6 col-lg-4 col-xl-3">

                    <!-- bbb_deals -->

                    <div class="bbb_deals">
                        <div class="bbb_deals_slider_container">
                            <div class=" bbb_deals_item">
                                <div class="bbb_deals_image"><img src="@product.Image" alt="product.img"></div>
                                <div class="bbb_deals_content">
                                    <div class="bbb_deals_info_line d-flex flex-row justify-content-between">
                                        <div class="bbb_deals_item_category text-secondary">@product.Type</div>
                                        <div class="bbb_deals_item_category text-secondary">@product.Brand</div>
                                    </div>
                                    <div class="bbb_deals_info_line">
                                        <div class="bbb_deals_item_name">@product.ProductName</div>
                                    </div>
                                    <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                        <div class="bbb_deals_item_price ml-auto">@product.Price.ToString("0.00") лв.</div>
                                    </div>
                                    <div class="available">
                                        <div class="available_line d-flex flex-row justify-content-start">
                                            <div class="available_title">Налични: <span>@product.ProductCount</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

        }

    </div>
</div>

<div class="d-flex flex-column align-items-center justify-content-center container-custom mb-1">
    <button class="btn btn-outline-dark flex-shrink-0" type="button" @onclick="AddComToCart">
        <i class="bi-cart-fill me-1"></i>
        Добави комплект
    </button>
</div>

@code {

    [Inject]
    private IProductService ProductService { get; set; }

    [Inject]
    private ICartService CartService { get; set; }

    [Inject]
    private IUserService UserService { get; set; }

    private List<Product> products = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        products = ProductService.GetProducts().Where(product => product.ProductName == "Shimano sonora sw match" || product.ProductName == "Shimano sahara 4000 fi" ||
            product.ProductName == "Trabucco t-force xps match" || product.ProductName == "Ваглер exner carbonfram evolution match" ||
            product.ProductName == "Drennan carbon match").ToList();
    }

    private async void AddComToCart()
    {
        foreach(var product in products)
        {
            await CartService.AddToCart(product.ProductId, 1, UserService.GetLoggedUserId());
        }
        this.StateHasChanged();
    }

}