@page "/Сафрид"
@using DiplomenP.Interfaces;
@using DiplomenP.Models;

<PageTitle>Сафрид</PageTitle>

<style>

    .container-custom {
        padding-inline: 15rem;
        padding-block: 2.5rem;
    }

    .heading {
        color: rgb(12, 202, 21);
        font-size: 3rem;
        opacity: 0.7;
        transition: all 0.5s ease-in-out;
        cursor: default;
    }

        .heading:hover {
            opacity: 1;
        }

    .text-container {
        margin-top: -0.5rem;
    }

</style>

<style type="text/css" media="screen and (max-width:992px)">
    .container-custom {
        padding-inline: 0;
    }
</style>

<div class="d-flex flex-column align-items-center justify-content-center container-custom mb-1">
    <img class="w-100 rounded-2" src="https://upload.wikimedia.org/wikipedia/commons/9/95/Trachurus_mediterraneus.jpg" alt="Сафрид.img" />

    <div class="d-flex justify-content-start w-100">
        <h1 class="align-items-start heading mb-0">Сафрид</h1>
    </div>

    <div class="text-container d-flex flex-column rounded-2 py-1 px-4">
        <h3 class="border-bottom mb-0 border-secondary mt-3">Сафридът</h3>
        <p class="col-8 my-1 w-100 fs-5">
            Пасажна риба, достигаща средни размери около 25 см и тегло 100 грама. Максимална дължина -55 см, максимално тегло -1,3 кг. Тялото е издължено, слабо сплеснато 
            странично. Главата е голяма, долната челюст е по-дълга от горната. Мастният клепач е добре развит. Люспите по извитата странична линия са с костни щитчета. 
            Има черно петно на горния край на хрилното капаче. Горната страна на тялото и главата са почти черни до сиво или синкаво-зелено, а долните две трети от тялото 
            и главата са обикновено бели до сребърни на цвят. Опашната му перка е жълта, има отчетлив черен знак точно отзад на оперкулума и е предшествана от два 
            отделни шипа. Има 36-41 хрилери. Обикновено живее 10 – 12 години. Тези риби са много мощни плувци и ненаситни ловци.
        </p>

        <h3 class="border-bottom mb-0 border-secondary mt-3">Хранене</h3>

        <p class="col-8 w-100 fs-5 my-1">
            Хранят се с други риби, особено с хамсия, цаца, сардини, аншоа и с малки ракообразни. Младите екземпляри се хранят със зоопланктон.
        </p>

        <h3 class="border-bottom mb-0 border-secondary mt-3">Размножаване</h3>

        <p class="col-8 w-100 fs-5 my-1">
            Размножаването на сафрида е яйценосно. Неговият репродуктивен цикъл е разделен на три отделни етапа, предрепродуктивен, репродуктивен и пострепродуктивен. 
            Предрепродуктивните етапи настъпват от януари до април, а пострепродуктивните – от септември до декември. През тези периоди половите жлези са много по-малки 
            от репродуктивния етап. Чифтосването се случва през лятото от май до август, през което тестисите и яйчниците нарастват значително по размер. Яйчниците 
            придобиват тъмно оранжев цвят и на повърхността се виждат яйца. Ембрионалното развитие настъпва за 24–26 часа. Яйцата са пелагични и дълги 0,71–0,92 мм. 
            Половата зрялост се достига на 2-годишна възраст и около 16 см дължина както за мъжките, така и за женските екземпляри.
        </p>

        <h3 class="border-bottom mb-0 border-secondary mt-3">Интересни факти</h3>

        <p class="col-8 w-100 fs-5 my-1">
            Има едно поверие, което гласи, че когато щъркелите си заминават и сафридът си тръгва.
        </p>

        <h3 class="border-bottom mb-0 border-secondary mt-3">Риболов</h3>

        <p class="col-8 w-100 fs-5 my-1">
            В България минималният разрешен размер за риболов е 12 см. Лови се на дънна въдица, успоредно с ловенето на попчета, като кълве на същата стръв- – парченца 
            от морски червей, скарида или торен червей. Най-атрактивен е начинът, да се лови е на чепаре през август – октомври.
        </p>

    </div>

    <h3 class="w-100 align-items-start mt-3">
        Комплект, който би бил подходящ за този вид риболов:
    </h3>

</div>

<div class="container mydiv">
    <div class="row d-flex">

        @foreach (var product in products)
        {

            if (product.ProductName == "Aquantic inliner boat" || product.ProductName == "Shimano exage 4000 fd" ||
            product.ProductName == "Shimano kaрiкi 8 yellow" || product.ProductName == "Filstar Rainbow Pro S чепаре" ||
            product.ProductName == "Шапка FilStar No.4" || product.ProductName == "120 QT Sportsman Sand/Carbon")
            {

                <div class="col-md-6 col-lg-4 col-xl-3">

                    <!-- bbb_deals -->

                    <div class="bbb_deals">
                        <div class="bbb_deals_slider_container">
                            <div class=" bbb_deals_item">
                                <div class="bbb_deals_image"><img src="@product.Image" alt="product.img"></div>
                                <div class="bbb_deals_content">
                                    <div class="bbb_deals_info_line d-flex flex-row justify-content-between">
                                        <div class="bbb_deals_item_category text-secondary">@product.Type</div>
                                        <div class="bbb_deals_item_category text-secondary">@product.Brand</div>
                                    </div>
                                    <div class="bbb_deals_info_line">
                                        <div class="bbb_deals_item_name">@product.ProductName</div>
                                    </div>
                                    <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                        <div class="bbb_deals_item_price ml-auto">@product.Price.ToString("0.00") лв.</div>
                                    </div>
                                    <div class="available">
                                        <div class="available_line d-flex flex-row justify-content-start">
                                            <div class="available_title">Налични: <span>@product.ProductCount</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            }

        }

    </div>
</div>

<div class="d-flex flex-column align-items-center justify-content-center container-custom mb-1">
    <button class="btn btn-outline-dark flex-shrink-0" type="button" @onclick="AddComToCart">
        <i class="bi-cart-fill me-1"></i>
        Добави комплект
    </button>
</div>

@code {

    [Inject]
    private IProductService ProductService { get; set; }

    private List<Product> products = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        products = ProductService.GetProducts();
    }

    private void AddComToCart()
    {

    }

}