@page "/fishing_hooks"
@using DiplomenP.Interfaces;
@using DiplomenP.Models;

<PageTitle>Куки</PageTitle>

<h2>Единични куки</h2>

<div class="container mydiv">
    <div class="row">

        @foreach (var product in products)
        {

            if (product.Type == "One_hook")
            {
                <div class="col-md-6 col-lg-4 col-xl-3">

                    <!-- bbb_deals -->

                    <div class="bbb_deals">
                        <div class="bbb_deals_slider_container">
                            <div class=" bbb_deals_item">
                                <div class="bbb_deals_image"><img src="https://www.eagleclaw.com/pub/media/catalog/product/cache/8b827f92d40f53910595a661ebde8346/e/c/ec35s63mlf1.jpg" alt="product.img"></div>
                                <div class="bbb_deals_content">
                                    <div class="bbb_deals_info_line d-flex flex-row justify-content-between">
                                        <div class="bbb_deals_item_category text-secondary">@product.Type</div>
                                        <div class="bbb_deals_item_category text-secondary">@product.Brand</div>
                                    </div>
                                    <div class="bbb_deals_info_line">
                                        <div class="bbb_deals_item_name"><a href="product_page">@product.ProductName</a></div>
                                    </div>
                                    <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                        <div class="bbb_deals_item_price ml-auto">@product.Price лв.</div>
                                    </div>
                                    <div class="available">
                                        <div class="available_line d-flex flex-row justify-content-start">
                                            <div class="available_title">Available: <span>@product.ProductCount</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }

        }

    </div>
</div>

<h2>Тройни куки</h2>

<div class="container mydiv">
    <div class="row">

        @foreach (var product in products)
        {

            if (product.Type == "Three_hook")
            {
                <div class="col-md-6 col-lg-4 col-xl-3">

                    <!-- bbb_deals -->

                    <div class="bbb_deals">
                        <div class="bbb_deals_slider_container">
                            <div class=" bbb_deals_item">
                                <div class="bbb_deals_image"><img src="https://www.eagleclaw.com/pub/media/catalog/product/cache/8b827f92d40f53910595a661ebde8346/e/c/ec35s63mlf1.jpg" alt="product.img"></div>
                                <div class="bbb_deals_content">
                                    <div class="bbb_deals_info_line d-flex flex-row justify-content-between">
                                        <div class="bbb_deals_item_category text-secondary">@product.Type</div>
                                        <div class="bbb_deals_item_category text-secondary">@product.Brand</div>
                                    </div>
                                    <div class="bbb_deals_info_line">
                                        <div class="bbb_deals_item_name"><a href="product_page">@product.ProductName</a></div>
                                    </div>
                                    <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                        <div class="bbb_deals_item_price ml-auto">@product.Price лв.</div>
                                    </div>
                                    <div class="available">
                                        <div class="available_line d-flex flex-row justify-content-start">
                                            <div class="available_title">Available: <span>@product.ProductCount</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }

        }

    </div>
</div>

<h2>Примамки</h2>

<div class="container mydiv">
    <div class="row">

        @foreach (var product in products)
        {

            if (product.Type == "Lure")
            {
                <div class="col-md-6 col-lg-4 col-xl-3">

                    <!-- bbb_deals -->

                    <div class="bbb_deals">
                        <div class="bbb_deals_slider_container">
                            <div class=" bbb_deals_item">
                                <div class="bbb_deals_image"><img src="@product.Image" alt="product.img"></div>
                                <div class="bbb_deals_content">
                                    <div class="bbb_deals_info_line d-flex flex-row justify-content-between">
                                        <div class="bbb_deals_item_category text-secondary">@product.Type</div>
                                        <div class="bbb_deals_item_category text-secondary">@product.Brand</div>
                                    </div>
                                    <div class="bbb_deals_info_line">
                                        <div class="bbb_deals_item_name"><a href="product_page">@product.ProductName</a></div>
                                    </div>
                                    <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                        <div class="bbb_deals_item_price ml-auto">@product.Price лв.</div>
                                    </div>
                                    <div class="available">
                                        <div class="available_line d-flex flex-row justify-content-start">
                                            <div class="available_title">Available: <span>@product.ProductCount</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }

        }

    </div>
</div>

@code {

    [Inject]
    private IProductService ProductService { get; set; }

    private List<Product> products = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        products = ProductService.GetProducts();
    }

}
